{% extends 'adminTemplate/base.html' %}

{% load static %}

{% block body  %}
		
<div class="page-wrapper page-wrapper-four">
    <div class="content">
        <div class="row">
            {% comment %} <div class="col-lg-6 col-sm-6 col-12">
                <div class="dash-widget">
                    <div class="dash-widgetimg">
                        <span><img src="{% static 'posstatic/assets/img/icons/dash1.svg' %}" alt="img"></span>
                    </div>
                    <div class="dash-widgetcontent">
                        <h5 >{{currnecy_symbol}} <span class="counters" data-count="{{total_amount }}"> {{total_amount }} </span></h5>
                        <h6>Total Purchase Amount </h6>
                    </div>
                </div>
            </div>
         
            <div class="col-lg-6 col-sm-6 col-12">
                <div class="dash-widget dash1">
                    <div class="dash-widgetimg">
                        <span><img src="{% static 'posstatic/assets/img/icons/dash2.svg'%}" alt="img"></span>
                    </div>
                    <div class="dash-widgetcontent">
                        <h5 >{{currnecy_symbol}} <span class="counters" data-count="{{today_profits}}">  {{sale_amount}}</span></h5>
                        <h6>Total Profits Amount</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-12">
                <div class="dash-widget dash3">
                    <div class="dash-widgetimg">
                        <span><img src="{% static 'posstatic/assets/img/icons/dash4.svg' %}" alt="img"></span>
                    </div>
                    <div class="dash-widgetcontent">
                        <h5 >{{currnecy_symbol}} <span class="counters" data-count="{{sale_amount}}">{{sale_amount}}</span></h5>
                        <h6>Total Sale Amount</h6>
                    </div>
                </div>
            </div> {% endcomment %}

            <div class="col-lg-4 col-sm-6 col-12">
                <div class="dash-widget">
                    <div class="dash-widgetimg">
                        <span><img src="{% static 'posstatic/assets/img/icons/dash1.svg' %}" alt="img"></span>
                    </div>
                    <div class="dash-widgetcontent">
                        <h5 >{{currnecy_symbol}}<span class="counters" data-count="{{total_amount }}">{{total_amount }}</span></h5>
                        <h6>Today's Purchases</h6>
                    </div>
                </div>
            </div>
            
            
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="dash-widget dash3">
                    <div class="dash-widgetimg">
                        <span><img src="{% static 'posstatic/assets/img/icons/dash4.svg' %}" alt="img"></span>
                    </div>
                    <div class="dash-widgetcontent">
                        <h5 >{{currnecy_symbol}}<span class="counters" data-count="{{sale_amount }}">{{sale_amount }}</span></h5>
                        <h6>Today's Sales</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="dash-widget dash2">
                    <div class="dash-widgetimg">
                        <span><img src="{% static 'posstatic/assets/img/icons/dash3.svg' %}" alt="img"></span>
                    </div>
                    <div class="dash-widgetcontent">
                        <h5 >{{currnecy_symbol}}<span class="counters" data-count="{{today_expanse}}">{{today_expanse}}</span></h5>
                        <h6>Today's expenses</h6>
                    </div>
                </div>
            </div>
            
            {% comment %} <div class="col-lg-3 col-sm-6 col-12">
                <div class="dash-widget dash1">
                    <div class="dash-widgetimg">
                        <span><img src="{% static 'posstatic/assets/img/icons/dash2.svg' %}" alt="img"></span>
                    </div>
                    <div class="dash-widgetcontent">
                        <h5 >{{currnecy_symbol}}<span class="counters" data-count="{{today_profits}}">{{today_profits}}</span></h5>
                        <h6>Today's Profits</h6>
                    </div>
                </div>
            </div> {% endcomment %}

           
            <div class="col-lg-3 col-sm-6 col-12 d-flex">
                <div class="dash-count">
                    <div class="dash-counts">
                        <h4>{{all_customer_obj}}</h4>
                        <h5>Customers</h5>
                    </div>
                    <div class="dash-imgs">
                        <i data-feather="user"></i> 
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12 d-flex">
                <div class="dash-count das1">
                    <div class="dash-counts">
                        <h4>{{all_supplier_obj}}</h4>
                        <h5>Suppliers</h5>
                    </div>
                    <div class="dash-imgs">
                        <i data-feather="user-check"></i> 
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12 d-flex">
                <div class="dash-count das2">
                    <div class="dash-counts">
                        <h4>{{all_product_obj}}</h4>
                        <h5>Products</h5>
                    </div>
                    <div class="dash-imgs">
                        <i data-feather="file-text"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12 d-flex">
                <div class="dash-count das3">
                    <div class="dash-counts">
                        <h4>{{staff_count_obj}}</h4>
                        <h5>Staffs</h5>
                    </div>
                    <div class="dash-imgs">
                        <i data-feather="file"></i>  
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-12">
                <div class="dash-widget">
                    <div class="dash-widgetimg">
                        {% comment %} <span><img src="{% static 'posstatic/assets/img/icons/dash1.svg' %}" alt="img"></span> {% endcomment %}
                    </div>
                    <div class="dash-widgetcontent">
                        <h5 ><span class="counters" data-count="{{cat_count_obj }}">{{cat_count_obj }}</span></h5>
                        <h6>Total Categories</h6>
                    </div>
                </div>
            </div>
            
            
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="dash-widget dash3">
                    <div class="dash-widgetimg">
                        {% comment %} <span><img src="{% static 'posstatic/assets/img/icons/dash4.svg' %}" alt="img"></span> {% endcomment %}
                    </div>
                    <div class="dash-widgetcontent">
                        <h5 ><span class="counters" data-count="{{subcat_count_obj}}">{{subcat_count_obj }}</span></h5>
                        <h6>Total SubCategories</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="dash-widget dash2">
                    <div class="dash-widgetimg">
                        {% comment %} <span><img src="{% static 'posstatic/assets/img/icons/dash3.svg' %}" alt="img"></span> {% endcomment %}
                    </div>
                    <div class="dash-widgetcontent">
                        <h5 ><span class="counters" data-count="{{brand_count_obj}}">{{brand_count_obj}}</span></h5>
                        <h6>Total Brands</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->

        <div class="row">
            <div class="col-lg-7 col-sm-12 col-12 d-flex">
                <div class="card flex-fill">
                    <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                        <h5 class="card-title mb-0">Purchase & Sales</h5>
                        <div class="graph-sets">
                            <ul>
                                <li>
                                    <span>Sales</span>
                                </li>
                                <li>
                                    <span>Purchase</span>
                                </li>
                            </ul>
                            <div class="dropdown">
                                {% comment %} <button class="btn btn-white btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    2022 <img src="{% static 'posstatic/assets/img/icons/dropdown.svg'%}" alt="img" class="ms-2">
                                </button> {% endcomment %}
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item">2022</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item">2021</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item">2020</a>
                                    </li>												
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <div id="sales_charts"></div>
                    </div>
                </div>
            </div>
        

    </div>
</div> 

{% endblock body  %}
